<?xml version="1.0"?>
<model>
  <name>mowen_with_sensors</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author><name>mowen_radar_fusion</name></author>
  <description>
    mowen robot with mmWave radar and RGB camera sensors (based on working mowen model).
  </description>
</model>